.monaco {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.16);
}

.monaco-full {
    height: calc(100vh - 14rem);
}

.monaco-medium {
    height: calc(100vh - 30rem);
}

.monaco-small {
    height: 12rem;
}